<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>You are missing out on:</p>
                {% if content %}
                    {% for k, v in content["cancel_subscription_modal"].iteritems() %}
                        <li>{{ v }}</li>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><b>Okay, nevermind</b></button>
                <button type="button" id="cancelSubscriptionConfirm" class="btn btn-danger">Yes, cancel subscription</button>
            </div>
        </div>
    </div>
</div>
