{% extends "base.html" %}
{% block meta_description %}Spotlight Flight{% endblock %}
{% block title %}Spotlight Flight{% endblock %}
{% block body %}

    {% include "navbar.html" %}

    <div class="container">
        <!--SAVED FLIGHT ALERTS SECTION-->
        {% if data %}
            <h2 class="header_text text-center">SAVED FLIGHT ALERTS</h2>
            {% for d in data %}
                {% if loop.index == 1 %}<div class="row">{% endif %}
                    <div class="col-lg-4 col-md-4 saved_alert text-center" id="{{ d['id'] }}" style="border-style: solid;">
                        {% if d["arrival"] %}
                            {% set arrival_text = d["arrival"] %}
                        {% else %}
                            {% set arrival_text = "Anywhere" %}
                        {% endif %}
                        <p><i>Arrival:</i><span class="saved_alert_text"> &nbsp; {{ arrival_text }}</span></p>

                        {% if d["departure"] %}
                            {% set departure_text = d["departure"] %}
                        {% else %}
                            {% set departure_text = "Anywhere" %}
                        {% endif %}
                        <p><i>Departure:</i><span class="saved_alert_text"> &nbsp; {{ departure_text }}</span></p>
                        <button class="btn btn-sm btn-dblue" id="delete_alert_ajax">DELETE ALERT</button>
                    </div>
                {% if loop.index %3 == 0 %}</div><div class="row">{% endif %}
                {% if loop.last %}</div>{% endif %}
            {% endfor %}
        {% else %}
            <div class="graybg">
                <h1 class="text-center">{{ content["empty_flight_alerts"]["header"] }}</h1>
                <br>
                <ul class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
                    {% for i in content["empty_flight_alerts"]["reasons"] %}
                    <li><h4>{{ i | safe }}</h4></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!--END OF SAVED FLIGHT ALERTS SECTION-->

        <!--MATCHING ALERTS SECTION-->
        {% if matching_flight_alerts %}
            <div class="row">
                <h2 class="header_text text-center">MATCHING FLIGHT ALERTS</h2>
                {% for i in matching_flight_alerts %}
                    {% if loop.index == 1 %}<div class="row">{% endif %}
                        {% if i["deal_url"] and "http://www.dpbolvw.net" not in i["deal_url"] %}
                            {% set tile_class = "yellow" %}
                            {% set btn_name = "SEE DEAL" %}
                        {% else %}
                            {% set tile_class = "blue" %}
                            {% set btn_name = "PRICELINE" %}
                        {% endif %}
                        <div class="flight_deals col-lg-4">
                            <!--START OF FLIGHT DEALS DISPLAY-->
                            {% include "auth/flight_deals_display.html" %}
                            <!--END OF FLIGHT DEALS DISPLAY-->
                            <a class="btn btn-{{tile_class}} btn-theme btn-lg" href='{{ i["deal_url"] }}' role="button" target="_blank" rel="nofollow">{{btn_name}}</a>
                        </div>
                    {% if loop.index %3 == 0 %}</div><div class="row">{% endif %}
                    {% if loop.last %}</div>{% endif %}
                {% endfor %}
            </div>
        {% else %}
            <hr style="margin-bottom: 180px;">
        {% endif %}
        <!--END OF MATCHING ALERTS SECTION-->

        <!--CREATE FLIGHT ALERT SECTION-->
        <div class="row">
            <span id="maximize-create-alert-display">
                <div class="create_alert col-lg-offset-7 col-md-offset-7 col-lg-4 col-md-4 navbar-fixed-bottom">
                    <i class="fa fa-close pull-right close-alert" aria-hidden="true"></i>
                    <i class="fa fa-caret-down pull-right" aria-hidden="true" id="hide-alert"></i>
                    <h3 class="text-center">Create Flight Alert</h3>
                    <form action="{{ url_for('auth.flight_preferences') }}" method=post>
                        {{ form.csrf_token }}
                        <div class="ui-widget">
                            {{ form.departure(class_="form-control input-lg", placeholder="DEPARTURE") }}
                            <p class="text-center" style="padding-top: 5px; color:#33a8ff;">AND/OR</p>
                            {{ form.arrival(class_="form-control input-lg", placeholder="ARRIVAL") }}
                            <!--{{ form.dates.label }} {{ form.dates(class_="form-control input-lg") }}-->
                        </div>
                        {% if is_maxed_basic_plan_user %}
                            {% set status = "Sign up for a First Class Plan and get Unlimited Alerts!" %}
                            <a class="btn btn-primary btn-lg center-block" href="/profile?status={{ status }}" role="button"><b>UPGRADE FOR UNLIMITED ALERTS!</b></a>
                            <h6>Upgrade to get unlimited alerts! You have maxed your 3 free alerts.</h6>
                        {% else %}
                            <!--<button type="submit" class="btn btn-blue btn-lg center-block">CREATE ALERT</button>-->
                            <!--CREATE ALERT BUTTON USED AS AN IMAGE-->
                            <input type="image" src="{{ url_for('static', filename='img/alert/add_button.png') }}"
                                   class="pull-right create_alert_btn" alt="Submit" />
                            <h6>You will receive an email as soon as an amazing deal matching your alert shows up!</h6>
                            <h6>Fares expires quickly, often within hours or days</h6>
                        {% endif %}
                    </form>
                </div>
            </span>

            <span id="minimize-create-alert-display" style="display: none; top: 650px;">
                <div class="maximize_create_alert col-lg-offset-7 col-lg-4 navbar-fixed-bottom">
                    <i class="fa fa-close pull-right close-alert" aria-hidden="true"></i>
                    <span id="show-alert">
                        <i class="fa fa-caret-up pull-right" aria-hidden="true"></i>
                        <h3 class="text-center"><a name="create_flight_alert" style="color:#33a8ff;">Show Flight Alert Section</a></h3>
                    </span>
                </div>
            </span>
        </div>
        <!--END OF CREATE FLIGHT ALERT SECTION-->
    </div>

{% endblock %}

{% block javascripts %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/jquery.ui.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/delete-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/hide-show-create-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/airport-codes.js') }}"></script>

{% endblock %}


