{% set padding = "120px;" %}
<div class="bgslimg" style="background-image: url(https://res.cloudinary.com/spotlightflight/image/upload/city/{{ i['image'][0] }}.jpg);">
    {% if i["cheapest_price"]["price"] and "digit_price" in i and i["digit_price"] %}
        {% if i["cheapest_price"]["price"] | int > i["digit_price"] | int %}
            <h4 style="font-weight:600; color:white;">
                <i class="fa fa-star" aria-hidden="true"></i> LOWEST DEAL ALERT
            </h4>
            {% set padding = "90px;" %}
        {% endif %}
    {% endif %}
    <p style="font-weight:800; padding-top: {{ padding }}">{{ i["title"] }}</p>
</div>
<h5>Departure: {{ i["departure"] }}</h5>
<h5>Arrival: {{ i["arrival"] }}</h5>
<h5>Dates: {{ i["dates"] }}</h5>
<h5>Airlines: {{ i["airlines"] }}</h5>
<img src="{{ url_for('static', filename='img/home/flight_btn.png') }}" class="img-responsive pull-right">
{% if i["price"] != None %}
    <h4 style="font-weight:600; color:white;">
        Reported Price: <span style="color:yellow;">{{ i["price"] }}</span>
    </h4>
{% endif %}