{% extends "base.html" %}
{% block meta_description %}Login on Spotlight Flight to find and create alerts on the cheapest flight deals{% endblock %}
{% block title %}Login{% endblock %}
{% block body %}

    {% include "navbar.html" %}
    <div class="container">
        <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
            <div class="row graybg text-center" style="margin-bottom: 230px;">
                <h1>LOG IN</h1>
                <h5>Don't have an account? Click <a href="/signup"> here</a> to sign up!</h5>
                <form action="{{ url_for('auth.login') }}" method=post>
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="form-group col-lg-offset-2 col-lg-8 col-lg-offset-2">
                            {{ form.email(class_="form-control input-lg", placeholder="EMAIL ADDRESS") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-offset-2 col-lg-8 col-lg-offset-2">
                            {{ form.password(class_="form-control input-lg", placeholder="PASSWORD") }}
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg">TAKEOFF!</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}