<h1>MY SUBSCRIPTION</h1>
<p>You have a Free Account with 3 Alerts, sign up for <b>unlimited alerts!</b></p>
<form action="/paywall" method="POST" id="payment-form" class="form-inline">
    <h4 class="payment-errors" role="alert"></h4>

    <div class="form-group">
        <label>CARD NUMBER</label>
        <input type="text" placeholder="5555 5555 5555 4444" maxlength="20" data-stripe="number">
    </div>

    <br><br>
    <div class="form-group">
        <label>EXPIRATION (MM/YYYY)</label>
        <input type="text" placeholder="Month - 10" data-stripe="exp_month">
        <input type="text" placeholder="Year - 2020" data-stripe="exp_year">
    </div>
    <br><br>
    <div class="form-group">
        <label>CVC</label>
        <input type="text" placeholder="123" data-stripe="cvc">
        &nbsp;&nbsp;
        <label>ZIPCODE</label>
        <input type="text" placeholder="90210" data-stripe="address_zip">
    </div>
    <br><br>
    <input type="submit" class="btn btn-dblue btn-lg submit" style="color:white;" value="SIGN ME UP - $9/mo">
    <br><br><br>
</form>
