{% extends "base.html" %}
{% block meta_description %}Spotlight Flight{% endblock %}
{% block title %}Profile{% endblock %}
{% block body %}

    {% include "navbar.html" %}

    <div class="container">
        <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
            <div class="row graybg text-center">
                <h1>MY PROFILE</h1>
                <p>Name: {{ user["name"] }}</p>
                <p>Email: {{ user["email"] }}</p>

                {% if user["paid_subscriber"] %}
                    {% set _display = "Plan: First Class (Unlimited Alerts)" %}
                {% else %}
                    {% set _display = "Plan: Economy (3 Free Alerts!)" %}
                {% endif %}

                {% if user["active_until"] and current_time < user["active_until"] %}
                    {% set _data = user["active_until"].date() %}
                    {% set _time = user["active_until"].time() %}
                    <p>{{ _display }}</p>
                    <h6 style="color:black;">
                        Active Until: {{ _data.month }}-{{ _data.day }}-{{ _data.year }} ({{ _time.hour }}hh:{{ _time.minute }}mm:{{ _time.second }}s)
                    </h6>
                {% else %}
                    <p>{{ _display }}</p>
                {% endif %}
            </div>

            <div class="row graybg text-center" style="margin-bottom:50px;">
                {% if user["paid_subscriber"] %}
                    <h1>MY SUBSCRIPTION</h1>
                    <h5>You have a First Class Account with Unlimited Alerts!
                        <a href="#" data-toggle="modal" data-target="#myModal"><i>Need to downgrade?</i></a>
                    </h5>
                    {% if customer_data|length > 0 %}
                        <p>Last 4 digits: {{ customer_data[0]["last_four"] }}</p>
                        <p>Expiration Month: {{ customer_data[0]["expiration_month"] }}</p>
                        <p>Expiration Year: {{ customer_data[0]["expiration_year"] }}</p>
                        <p>Zipcode: {{ customer_data[0]["zipcode"] }}</p>
                    {% endif %}
                    {% include "auth/cancel_subscription_modal.html" %}
                {% else %}
                    {% include "auth/paywall.html" %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ super() }}

    <!--STRIPE JS-->
    <script src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('{{stripe_key}}');
    </script>
    <script src="{{ url_for('static', filename='js/auth/stripe-custom-payment.js') }}"></script>
    <!--END OF STRIPE JS-->

    <script src="{{ url_for('static', filename='js/auth/cancel-subscription.js') }}"></script>
{% endblock %}