{% extends "base.html" %}
{% block meta_description %}Sign up on Spotlight Flight to find and create alerts on the cheapest flight deals{% endblock %}
{% block title %}Signup{% endblock %}
{% block body %}

    {% include "navbar.html" %}
    <div class="container">
        <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
            <div class="row graybg text-center" style="margin-bottom: 160px;">
                <h1>CREATE ACCOUNT</h1>
                <h5>Get started by creating your own account below! You can set upto 3 alerts with a free account.</h5>
                <form action="{{ url_for('auth.signup') }}" method=post>
                    {{ form.csrf_token }}


                    <div class="row">
                        <div class="form-group col-lg-offset-2 col-lg-8 col-lg-offset-2">
                            {% if email_placeholder %}
                                {{ form.name(class_="form-control input-lg", value=name_placeholder) }}
                            {% else %}
                                {{ form.name(class_="form-control input-lg", placeholder="NAME") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-offset-2 col-lg-8 col-lg-offset-2">
                            {% if email_placeholder %}
                                {{ form.email(class_="form-control input-lg", value=email_placeholder) }}
                            {% else %}
                                {{ form.email(class_="form-control input-lg", placeholder="EMAIL ADDRESS") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-offset-2 col-lg-8 col-lg-offset-2">
                            {{ form.password(class_="form-control input-lg", placeholder="PASSWORD") }}
                        </div>
                    </div>

                    <br>

                    <button type="submit" class="btn btn-primary btn-lg">GET STARTED!</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}