<!-- Modal -->
{% if current_user.is_authenticated %}
    <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close no_thanks" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <h3>{{ content["welcome_modal"]["header"] }}</h3>
                    <ul class="container">
                        {% for i in content["welcome_modal"]["options"] %}
                            <li>
                                {{ content["welcome_modal"]["options"][i]|safe }}
                            </li>
                            <br>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue no_thanks" data-dismiss="modal"><b>Okay, Got it!</b></button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
