{% extends "base.html" %}
{% block meta_description %}Add Slack to your team to instantaneously find outrageous flight deals{% endblock %}
{% block title %}Add Slack{% endblock %}
{% block body %}

    {% include "navbar.html" %}
    <div id="slack">
		<div class="container">
            <h1>Spotlight Flight + #Slack</h1>
			<div class="row">
			    <div class="col-md-10 col-md-offset-1">
                    <img src="{{ url_for('static', filename='img/home/start_traveling.png') }}" class="img-responsive center-block">
				</div>
			</div>
        </div>

        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
			<div id="bgsl">
				<h4 style="color: #337ab7;"><b>Just type /spotlightflight latest</b></h4>
				<br>
				<div class="row">
					<div class="col-md-offset-2 col-md-8 col-md-offset-2">
						<p>Start getting outrageous flight deals right in Slack!</p>
					</div>
				</div>
				<br>
				<div class="row">
					<a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands&client_id=98466002369.128400129044"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
				</div>
			</div>
		</div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/reader/execute-rss.js') }}"></script>
{% endblock %}