{% extends "base.html" %}
{% block meta_description %}Spotlight Flight{% endblock %}
{% block title %}Search Flight Deals{% endblock %}
{% block body %}

    {% include "navbar.html" %}
    <div class="container">
        <h1>Search Flight Deals</h1>
        <form action="{{ url_for('rss.data_searcher') }}" method=post>
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.search_arrival.label }} {{ form.search_arrival(class_="form-control input-lg") }}
                {{ form.search_departure.label }} {{ form.search_departure(class_="form-control input-lg") }}
                {{ form.search_title.label }} {{ form.search_title(class_="form-control input-lg") }}
                {{ form.search_airlines.label }} {{ form.search_airlines(class_="form-control input-lg") }}
                {{ form.search_dates.label }} {{ form.search_dates(class_="form-control input-lg") }}
                <!--{{ form.search_price.label }} {{ form.search_price(class_="form-control input-lg") }}-->
            </div>
            <button type="submit" class="btn btn-default btn-lg">Submit</button>
        </form>

        {% if data %}
            {% for k, v in data.iteritems() %}
                {% if v %}
                    <div class="alert alert-success" role="alert">
                        <h2>{{ k }}</h2>
                        {% for d in v %}
                            {% for _a in d %}
                                <p><b>{{ _a }}:</b> {{ d[_a] }}</p>
                            {% endfor %}
                            <hr>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">No results for <b>{{ k }}</b></div>
                {% endif %}
                <hr>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}