{% extends "base.html" %}
{% block meta_description %}Spotlight Flights{% endblock %}
{% block title %}Feed Scraper{% endblock %}
{% block body %}

    {% include "navbar.html" %}
    <div class="container">
        <h1>Data Parser</h1>
        <div class="alert alert-warning" role="alert">
            <p>clicking on the button will scrape the feed from: <b>"http://www.secretflying.com/feed/"</b></p>
        </div>

        <button class="btn btn-lg btn-warning" id="execute_rss_feed_ajax">Execute RSS!</button>
    </div>

{% endblock %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/reader/execute-rss.js') }}"></script>
{% endblock %}