{% extends "base.html" %}
{% block meta_description %}Spotlight Flight helps you find and create alerts on the cheapest flight deals{% endblock %}
{% block title %}View Flight Deals{% endblock %}
{% block body %}

    {% include "navbar.html" %}
    <div class="container">
        {% for k, data in data_holder.iteritems() %}
            {% if data %}
                <h1 class="text-center header_text">{{ k }}</h1>
                {% for i in data %}
                    {% if loop.index == 1 %}<div class="row">{% endif %}
                        {% if i["deal_url"] and "http://www.dpbolvw.net" not in i["deal_url"] %}
                            {% set tile_class = "yellow" %}
                            {% set btn_name = "SEE DEAL" %}
                        {% else %}
                            {% set tile_class = "blue" %}
                            {% set btn_name = "PRICELINE" %}
                        {% endif %}
                        <div class="flight_deals col-lg-4">
                            <!--START OF FLIGHT DEALS DISPLAY-->
                            {% include "auth/flight_deals_display.html" %}
                            <!--END OF FLIGHT DEALS DISPLAY-->
                            {% if current_user.is_authenticated %}
                                <a class="btn btn-{{tile_class}} btn-theme btn-lg" href='{{ i["deal_url"] }}' role="button" style="font-weight: 600; letter-spacing: 3px;" target="_blank" rel="nofollow">{{btn_name}}</a>
                            {% else %}
                                <a class="btn btn-blue btn-theme btn-lg" href='/login' role="button" style="font-weight: 600; letter-spacing: 3px;">
                                    <i class="fa fa-lock" aria-hidden="true"></i> LOG IN TO VIEW
                                </a>
                            {% endif %}
                        </div>
                    {% if loop.index %3 == 0 %}</div><hr><div class="row">{% endif %}
                    {% if loop.last %}</div>{% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}