{% extends "base.html" %}
{% block meta_description %}Spotlight Flight{% endblock %}
{% block title %}About{% endblock %}
{% block body %}

    {% include "navbar.html" %}
    <div class="container">
        <h1>About</h1>
        <h2>Sheriff of Absaroka County watches over you!</h2>
    </div>

{% endblock %}