/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 13
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:900,700,400);
@import url(https://fonts.googleapis.com/css?family=Montserrat:900,700,400);
@import url(https://fonts.googleapis.com/css?family=Open Sans:900,700,400);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Raleway', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
	font-weight: 700;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 10px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.mb {
    background: #f2f2f2;
}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}

/* Bootstrap Modification */

.navbar-inverse {
	background: transparent;
	border: transparent;
}

.custom-navbar{
    color:#00008B !important;
    font-weight:800;
}

img {
	padding-bottom: 10px;
}

/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}


.btn-register {
	margin-top: 15px;
	border-radius: 50px;
	margin-right: 10px;
	top: 0px;
	float: right;
	font-size: 16px;
}

.btn-sub {
	border-radius: 50px;
}

/* Overall Buttons*/
.btn-theme {
	border-radius: 50px;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-white {
	background: white;
	color: #2f2f2f;
}

.btn-white:hover {
	background: #2f2f2f;
	color: white;
}

.btn-blue {
    background: #039be5;
    font-family : Montserrat;
    font-weight : bold !important;
    font-size : 20px !important;
    letter-spacing : 3px;
    color : #FFFFFF;
}


.btn-blue:hover {
    background: #039be5;
    font-family : Montserrat;
    font-weight : bold;
    font-size : 20px;
    letter-spacing : 3px;
    color : #FFFFFF !important;
    opacity: 0.5;
}


.btn-yellow {
	background: #ffee58;
	font-weight: 600 !important;
	letter-spacing: 3px;
	color: black;
}

.btn-yellow:hover {
	background: #ffee58;
	font-weight: 600;
	letter-spacing: 3px;
	opacity: 0.5;
}

.btn-dblue {
    background: #0578bd;
    font-family : Montserrat;
    font-weight : bold !important;
    font-size : 20px !important;
    letter-spacing : 3px;
    color : #263238;
}

.btn-dblue:hover {
    font-family : Montserrat;
    font-weight : bold;
    font-size : 20px;
    letter-spacing : 3px;
    color : #263238;
    opacity: 0.5;
}

/* HEADER SECTION */
#h {
	background: url(../img/homebg.jpg) no-repeat center top;
	padding-top: 300px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	color: white;
	font-weight: 900;
	font-size: 70px;
	letter-spacing: 5px;
}

#h h3 {
	color: white;
	font-weight: 400;
}

#h img {
	padding-bottom: 0px;
}

/* SLACK SECTION */
#slack {
	background: url(../img/home/flight_deals_1.jpg) no-repeat center top;
	padding-top: 100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#slack h1 {
	color: white;
	font-weight: 900;
	font-size: 70px;
	letter-spacing: 5px;
}

#slack h3 {
	color: white;
	font-weight: 400;
}

#slack img {
	padding-bottom: 0px;
}

/* White Section */
#w {
	background: white;
	width: 100%;
	/*padding-top: 100px;*/
	padding-bottom: 100px;
}

#w .col-md-6 {
	padding-right: 0px;
}

#w p {
	color: #9f9f9f;
	font-size: 16px;
}

/* Background Section */
#bgsl {
	background: #f2f2f2;
	width: 100%;
	min-height: 350px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	border-radius: 25px;
}

#bgsl .col-md-6 {
	padding-right: 0px;
}

#bgsl h1, #bgsl h2, #bgsl h3, #bgsl h4, #bgsl h5 {
	color: black;
}

#bgsl p {
	color: black;
	font-size: 16px;
	font-weight: 400;
}

/* BACKGROUND IMG SECTION */
.bgslimg {
	background: black;
	background-repeat: no-repeat;
	background-attachment: center;
	padding-top: 10px;
	text-align:center;
	background-position: center center;
	min-height: 200px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* DEALS SECTION */
.flight_deals {
    background: #263238;
	min-height: 400px;
	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 15px;
    border-radius: 25px;
}

.flight_deals h1 {
	color: white;
	font-weight: 900;
	font-size: 70px;
	letter-spacing: 5px;
}

.flight_deals h3 {
	color: white;
	font-weight: 400;
}

.flight_deals h5 {
	color: white;
	font-weight: 400;
	padding-top: 5px;
	line-height: 150%;
}

.flight_deals p {
	color: white;
	font-weight: 400;
}

.flight_deals img {
	padding-bottom: 0px;
}

/* PRICING SECTION */
.pricing {
    background: #f2f2f2;
	min-height: 400px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;

}

.pricing h1 {
	color: white;
	font-weight: 900;
	font-size: 70px;
	letter-spacing: 5px;
}

.pricing h3 {
	color: white;
	font-weight: 400;
}


.pricing h4 {
	color: #59ABE3;
	font-weight: 600;
}

.pricing h5 {
	color: #333333;
	font-size: 15px;
    font-style: italic;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.pricing p {
	color: white;
	font-weight: 400;
}

.pricing ul, .pricing li {
	color: black;
}

.pricing img {
	padding-bottom: 0px;
}

.pricing_inner {
    background: #f2f2f2;
	width: 100%;
	min-height: 400px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	margin-bottom: 20px;
	margin-right: 60px;
	border: #a9a9a9;
	border-style: solid;
	border-radius: 25px;

}

.pricing_inner h4{
    font-family : Montserrat;
    font-weight : bold;
    font-size : 22px;
    color : #039BE5;
}

.pricing_inner h5 {
    font-family : Open Sans;
    font-style : italic;
    font-size : 16px;
    color : #1D3A6B;
}

/* GRAY SECTION */
.graybg {
    background: #f2f2f2;
	min-height: 300px;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;

}

.graybg h1 {
	color: #00008B;
	font-weight: 800;
	font-size: 35px;
	letter-spacing: 5px;
}

.graybg h3 {
	color: #00008B;
	font-weight: 400;
}


.graybg h4 {
	color: #00008B;
	font-weight: 600;
}

.graybg h5 {
	color: #00008B;
	font-size: 15px;
    font-style: italic;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.graybg p {
	color: #00008B;
	font-weight: 400;
}

.graybg ul, .graybg li {
	color: black;
}

.graybg label {
	color: #00008B;
}

.graybg input {
	color: black;
}

/* Blue Section - Picton */
#picton {
	background: #59ABE3;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#picton .col-md-6 {
	padding-left: 0px;
}

#picton p {
	color: #e9e9e9;
	font-size: 16px;
}

/* Blue Section - Curious */
#curious {
	background: #3498DB;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#curious .col-md-6 {
	padding-right: 0px;
}

#curious p {
	color: #e9e9e9;
	font-size: 16px;
}

/* Blue Section - Malibu */
#malibu {
	background: #6BB9F0;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#malibu .col-md-6 {
	padding-left: 0px;
}

#malibu p {
	color: #e9e9e9;
	font-size: 16px;
}

/* Blue Section - Jelly */
#jelly {
	background: #2574A9;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#jelly p {
	color: #e9e9e9;
	font-size: 16px;
}

#jelly h1 {
	font-size: 200px;
}

#jelly h3 {
	margin-top: 10px;
}

/* Create Alert */
.create_alert {
	background: #263238;
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
	color: white;
	border-radius: 25px;
}

.create_alert p {
	color: #e9e9e9;
	font-size: 16px;
}

.create_alert h1 {
	font-size: 200px;
}

.create_alert h3 {
	margin-top: 10px;
}

.create_alert_btn {
    background-color:#263238;
    border:#263238
}

.maximize_create_alert {
	background: #001f3f;
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 20px;
	color: white;
	border-radius: 25px;
}


/* FOOTER */
#f {
	background: #2f2f2f;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#f p {
	color: white;
}

#f h4 {
	font-weight: 400;
	text-align: center;
	font-size: 24px;
}

/* CREDIT */
#c {
	background: #d2d2d2;
	padding: 5px;
}

#c p {
	color: black;
	padding-top:20px;
	font-weight: 600;
	font-size: 13px;
}

/* SAVED ALERT SECTION */
.saved_alert {
    background: #263238;
	min-height: 400px;
	padding-top: 20px;
	padding-bottom: 10px;
	color: white;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 15px;
	border-radius: 25px;

}

.saved_alert h1 {
	color: white;
	font-weight: 900;
	font-size: 70px;
	letter-spacing: 5px;
}

.saved_alert h3 {
	color: white;
	font-weight: 400;
}

.saved_alert h5 {
	color: white;
	font-weight: 400;
	padding-top: 5px;
	line-height: 150%;
}

.saved_alert p {
	color: white;
	font-weight: 400;
}

.saved_alert img {
	padding-bottom: 0px;

}

.saved_alert_text {
    color: #33a8ff;
    font-weight: 600;
}

.header_text {
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 50px;
}