{% extends "email/base.html" %}
{% block body %}
    <!-- START CENTERED WHITE CONTAINER -->
    <span class="preheader" style="color:transparent;display:none;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;visibility:hidden;width:0;">Spotlight Flight has found you incredible flight deals that matches your alerts.</span>
    <table class="main" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;background:#fff;border-radius:3px;width:100%;">
      <!-- START MAIN CONTENT AREA -->
      <tr>
        <td class="wrapper" style="font-family:sans-serif;font-size:14px;vertical-align:top;box-sizing:border-box;padding:20px;">
          <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;">
            <tr>
              <td style="font-family:sans-serif;font-size:14px;vertical-align:top;">
                <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Hi {{ name }},</p>
                <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Spotlight Flight has found you incredible flight deals that matches your alerts.</p>
                <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Your dream destination is one travel away!</p>

                {% if matching_flight_alerts %}
                  <hr>
                  {% for alert in matching_flight_alerts %}
                    {% if alert["arrival"] %}<p style="font-family:sans-serif;font-size:13px;font-weight:normal;margin:0;Margin-bottom:5px;">Arrival: {{ alert["arrival"] }}</p>{% endif %}
                    {% if alert["departure"] %}<p style="font-family:sans-serif;font-size:13px;font-weight:normal;margin:0;Margin-bottom:5px;">Departure: {{ alert["departure"] }}</p>{% endif %}
                    {% if alert["airlines"] %}<p style="font-family:sans-serif;font-size:13px;font-weight:normal;margin:0;Margin-bottom:5px;">Airline: {{ alert["airlines"] }}</p>{% endif %}
                    {% if alert["price"] %}<p style="font-family:sans-serif;font-size:13px;font-weight:normal;margin:0;Margin-bottom:5px;">Price: {{ alert["price"] }}</p>{% endif %}
                    <hr>
                  {% endfor %}
                  <br>
                {% endif %}

                <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;box-sizing:border-box;width:100%;">
                  <tbody>
                    <tr>
                      <td align="left" style="font-family:sans-serif;font-size:14px;vertical-align:top;padding-bottom:15px;">
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;width:auto;">
                          <tbody>
                            <tr>
                              <td style="font-family:sans-serif;font-size:14px;vertical-align:top;background-color:#ffffff;border-radius:5px;text-align:center;background-color:#3498db;"> <a href="https://www.spotlightflight.com/data-viewer?src=email" target="_blank" style="text-decoration:underline;background-color:#ffffff;border:solid 1px #3498db;border-radius:5px;box-sizing:border-box;color:#3498db;cursor:pointer;display:inline-block;font-size:14px;font-weight:bold;margin:0;padding:12px 25px;text-decoration:none;text-transform:capitalize;background-color:#3498db;border-color:#3498db;color:#ffffff;">See Deals!</a> </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:5px;">Travel. Make Friends. Live Your Dream.</p>
                <p style="font-family:sans-serif;font-size:12px;font-weight:normal;margin:0;Margin-bottom:15px;">- Team Spotlight Flight</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- END MAIN CONTENT AREA -->
    </table>
{% endblock %}