{% extends "base.html" %}
{% block body %}
    <div class="container graybg text-center" style="margin-bottom:300px">
        <h1>Oops. That page does not exist</h1>
        <h3>Click <a href="/"><u><b>HERE</b></u></a> to start flying again</h3>
    </div>
{% endblock %}
