<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keyword" content="{% block meta_keyword %}{% endblock %}">

        <title>{% block title %}{% endblock %} | Spotlight Flight</title>

        <script type=text/javascript>
  		    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	    </script>

        <!--GOOGLE ANALYTICS TRACKING CODE-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-89974652-1', 'auto');
          ga('send', 'pageview');

        </script>
        <!--END OF GOOGLE ANALYTICS TRACKING CODE-->

        <script src="{{ url_for('static', filename='js/auth/onesignal-add-email-id.js') }}"></script>
        <script src="{{ url_for('static', filename='js/auth/onesignal-send-notification.js') }}"></script>

        <!--OneSignal - Web Push Notifications-->
        <link rel="manifest" href="/manifest.json">
        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>

        <!--One Signal - If the user accepts notifications then send a POST request to save ID-->
        <script>
            var OneSignal = window.OneSignal || [];
            OneSignal.push(["init", {
                appId: "b24aa9eb-c465-44f0-93f8-e089c421fb9b",
                autoRegister: false,
                notifyButton: {
                    enable: true /* Set to false to hide */
                },
                welcomeNotification: {
                    "title": "Thanks for subscribing!",
                    "message": "Receive alerts on the lowest fares immediately!",
                    // "url": ""
                }
            }]);

            OneSignal.push(function() {
                OneSignal.isPushNotificationsEnabled(function(isEnabled) {
                    if (isEnabled) {
                        console.log("Push notifications are enabled!");
                        OneSignal.getUserId(function(userId) {
                            if ("{{ current_user.get_id() }}" != "None") {
                                saveOneSignalData(userId)
                                sendOneSignalNotification(userId)
                            }
                        });
                    } else {
                        console.log("Push notifications are not enabled yet.");
                    }
                });
            });

            <!--OneSignal.push(function() {-->
              <!--OneSignal.registerForPushNotifications({-->
                <!--modalPrompt: true-->
              <!--});-->
            <!--});-->


        </script>
        <!--End of OneSignal - Web Push Notifications setup-->

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/custom-animations.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

  </head>

  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}" role="alert">
                    <h1 class="lead text-center"><b>{{ message | safe}}</b></h1>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    <! -- ********** CREDITS ********** -->
        <div id="c">
            <div class="container">
                <div class="row">
                    <img src="{{ url_for('static', filename='img/footer/grey_logo.png') }}" class="img-responsive pull-left">
                    <p class="pull-right">INFO@SPOTLIGHTFLIGHT.COM</p>
                    <a href="https://www.skyscanner.net" target="_blank" rel="nofollow">
                         <img src="{{ url_for('static', filename='img/skyscanner/inline_skyscanner.png') }}" class="img-responsive" width=190">
                    </a>
                </div>
            </div><! --/container -->
        </div><! --/C -->
    {% endblock %}

    {% block javascripts %}
        <!-- js placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/cookies.js') }}"></script>
    {% endblock %}

  </body>
</html>
