{% extends "base.html" %}
{% block meta_description %} {{ content["meta_desc_index"] }} {% endblock %}
{% block title %}Home{% endblock %}
{% block body %}

    {% include "navbar.html" %}

	<!--DISPLAY WELCOME MODAL TO SHOW HOW TO GET STARTED-->
	{% include "auth/welcome_flow.html" %}

    <! -- ********** HEADER ********** -->
	<div id="h">
		<div class="container">
			<div class="row">
			    <div class="col-md-10 col-md-offset-1 mt">
					<img src="{{ url_for('static', filename='img/home/start_traveling.png') }}" class="img-responsive center-block">
				</div>
			</div>
		</div><! --/container -->
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
			<div id="bgsl">
				<h4 style="letter-spacing: 5px; color: #337ab7;"><b>{{content["main_blurb"]}}</b></h4>
				<br>
				<div class="row">
					<div class="col-md-offset-2 col-md-8 col-md-offset-2">
						<p>{{content["main_desc"]}}</p>
					</div>
				</div>
				<br>
				<div class="row">
					<a class="btn btn-blue btn-theme btn-lg" href="/flight-preferences" role="button">{{content["try_free_btn"]}}</a>
					<a class="btn btn-dblue btn-theme btn-lg" href="/flight-preferences" role="button">{{content["paid_btn"]}}</a>
				</div>

				<!--STAY IN THE LOOP SECTION-->
				{% if not current_user.is_authenticated %}
					<br><br>
					<div class="row">
						<img src="{{ url_for('static', filename='img/home/newsletter/stay_in_loop.png') }}" class="img-responsive center-block">
					</div>
					<div class="row">
						<div class="col-md-offset-2 col-md-8 col-md-offset-2">
							<p>{{content["secondary_signup_desc"]}}</p>
						</div>
					</div>
					<div class="row">
						<form class="form-horizontal" action="/signup" method="get">
							<div class="form-group">
								<div class="col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-xs-offset-3 col-xs-6 col-xs-offset-3">
									<input type="text" class="form-control" name="name" placeholder="NAME">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-xs-offset-3 col-xs-6 col-xs-offset-3">
									<input type="email" class="form-control" name="email" placeholder="EMAIL">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-8 col-md-offset-2">
									<button type="submit" class="btn btn-dblue btn-lg" style="font-weight: 600; letter-spacing: 3px;">
										{{content["newsletter_btn"]}} <i class="fa fa-envelope" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				{% endif %}
				<!--END OF STAY IN LOOP SECTION-->

			</div>
		</div>
	</div><! --/h -->


	{% if flight_data %}
		<div class="container">
			<img src="{{ url_for('static', filename='img/home/recent_flight_deals.png') }}" class="img-responsive center-block" style="padding-top:80px; padding-bottom:30px;">
			<!--START OF FLIGHT DEALS DISPLAY-->
			{% for i in flight_data[:6] %}
				{% if loop.index == 1 %}<div class="row">{% endif %}
					<div class="flight_deals col-lg-4 col-md-4">
						<a href="/data-viewer">
							{% include "auth/flight_deals_display.html" %}
						</a>
					</div>
				{% if loop.index %3 == 0 %}</div><div class="row">{% endif %}
                {% if loop.last %}</div>{% endif %}
			{% endfor %}
			<!--END OF FLIGHT DEALS DISPLAY-->
			<p class="text-center">
				<a class="btn btn-dblue btn-lg" href="/data-viewer" role="button">
					<i class="fa fa-plane" aria-hidden="true"></i>&nbsp;
					VIEW FLIGHT DEALS
				</a>
			</p>
		</div>
	{% endif %}

	<br>

	<br>
	<img src="{{ url_for('static', filename='img/home/create_alert.png') }}" class="img-responsive center-block">
	<img src="{{ url_for('static', filename='img/help/how_to_use.png') }}" class="img-responsive center-block">
	<p class="mt text-center">
		<a class="btn btn-primary btn-lg" href="/flight-preferences" role="button" style="font-weight: 600; letter-spacing: 3px;">
			<i class="fa fa-calendar" aria-hidden="true"></i> CREATE ALERTS - FREE!
		</a>
	</p>
	<p class="text-center"><a href="/profile">or, Go First Class for Unlimited Alerts</a></p>
	<br>

	<div class="row pricing">
		<div class="col-lg-offset-3 col-md-offset-3">
			<div class="col-lg-4 col-md-4">
				<h3 class="text-center" style="color:black;"><i>Economy</i></h3>
				<div class="pricing_inner">
					<h4 class="text-center">{{content["free_pricing_title"] | safe}}</h4>
					{% for i in content["common_pricing"] %}
						<h5 class="text-center">{{content["common_pricing"][i] | safe}}</h5>
					{% endfor %}
					{% for i in content["free_pricing"] %}
						<h5 class="text-center">{{content["free_pricing"][i] | safe}}</h5>
					{% endfor %}
					<p class="text-center">
						<a class="btn btn-blue btn-lg" href="/flight-preferences" role="button" style="font-weight: 600; letter-spacing: 3px;">
							{{content["free_pricing_btn"]}} <i class="fa fa-globe" aria-hidden="true"></i>
						</a>
					</p>
				</div>
			</div>


			<div class="col-lg-4 col-md-4">
				<h3 class="text-center" style="color:black;"><i>First Class</i></h3>
				<div class="pricing_inner">
					<h4 class="text-center">{{content["paid_pricing_title"] | safe}}</h4>
					{% for i in content["common_pricing"] %}
						<h5 class="text-center">{{content["common_pricing"][i] | safe}}</h5>
					{% endfor %}
					{% for i in content["paid_pricing"] %}
						<h5 class="text-center">{{content["paid_pricing"][i] | safe}}</h5>
					{% endfor %}
					<p class="text-center">
						<a class="btn btn-yellow btn-lg text-center" href="/flight-preferences" role="button" style="font-weight: 600; letter-spacing: 3px;">{{content["paid_pricing_btn"]}}</a>
					</p>
				</div>
			</div>
		</div>
	</div>



	{#
	<! -- ********** FIRST ********** -->
	<div id="w">
		<div class="row nopadding">
			<div class="col-md-5 col-md-offset-1 mt">
				<h3>Cheapest Deals That You Can Find!</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<p class="mt"><button class="btn btn-info btn-theme">Sign Up Now | 14 Days Free</button></p>
			</div>

			<div class="col-md-6 pull-right">
				<img src="{{ url_for('static', filename='img/shot01.png') }}" class="img-responsive alignright" alt="" data-effect="slide-right">
			</div>
		</div><! --/row -->
	</div><! --/container -->


	<! -- ********** BLUE SECTION - PICTON ********** -->
	<div id="picton">
		<div class="row nopadding">
			<div class="col-md-6 pull-left">
				<img src="{{ url_for('static', filename='img/shot02.png') }}" class="img-responsive alignleft" alt="" data-effect="slide-left">
			</div>
			<div class="col-md-5 mt">
				<h3>Only Receive Alerts Only When Prices Are The Lowest</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
			</div>

		</div><! --row -->
	</div><! --/Picton -->


	<! -- ********** BLUE SECTION - CURIOUS ********** -->
	<div id="curious">
		<div class="row nopadding">
			<div class="col-md-5 col-md-offset-1 mt">
				<h3>Save Over 20% On Your Travel Tickets</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
			</div>

			<div class="col-md-6 pull-right">
				<img src="{{ url_for('static', filename='img/shot03.png') }}" class="img-responsive alignright" alt="" data-effect="slide-right">
			</div>
		</div><! --/row -->
	</div><! --/curious -->

	<! -- ********** BLUE SECTION - MALIBU ********** -->
	<div id="malibu">
		<div class="row nopadding">
			<div class="col-md-6 pull-left">
				<img src="{{ url_for('static', filename='img/shot04.png') }}" class="img-responsive alignleft" alt="" data-effect="slide-left">
			</div>
			<div class="col-md-5 mt">
				<h4>Try Us For Free</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
			</div>

		</div><! --row -->
	</div><! --/Malibu -->


	<! -- ********** BLUE SECTION - JELLY ********** -->
	<div id="jelly">
		<div class="row nopadding">
			<div class="col-md-5 col-md-offset-1 mt">
				<h4>Don't Wait, Try Us Now</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
			</div>

			<div class="col-md-6 mt centered">
				<h1 data-effect="slide-bottom">24</h1>
				<h3>$ per month</h3>
			</div>
		</div><! --/row -->
	</div><! --/Jelly -->

	<! -- ********** FOOTER ********** -->
	<div id="f">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 centered">
					<h4 class="mb">Grab Our Offer Now. Try Us For 14 Days Totally Free.</h4>
					<form role="form">
	    				<input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
						<button class='btn btn-lg btn-info btn-sub subscribe-submit' type="submit">Yes, Please</button>
					</form>
				</div>
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/F -->
	#}

{% endblock %}

{% block javascripts %}
    {{ super() }}
	{% if current_user.is_authenticated %}
		<script src="{{ url_for('static', filename='js/auth/welcome-modal.js') }}"></script>
	{% endif %}
{% endblock %}
