<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand custom-navbar" href="/">SPOTLIGHT FLIGHT</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right custom-navbar">
                <li><a href="/data-viewer">FLIGHT DEALS</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/flight-preferences">FLIGHT ALERTS</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                {% else %}
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/signup">SIGN UP</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<img src="{{ url_for('static', filename='img/nav/nav_logo.png') }}" class="img-responsive center-block navbar-fixed-top" style="z-index:10001; padding-top:25px;">
